* {
    box-sizing: border-box
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.42857;
    color: #333;
    background-color: #fff
}

.grid-wpr,
.row {
    margin-left: -15px;
    margin-right: -15px
}

.grid-wpr:after,
.grid-wpr:before,
.row:after,
.row:before {
    content: " ";
    display: table
}

.grid-wpr:after,
.row:after {
    clear: both
}

.column-3,
    {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}


.grid-wpr .grid-one-third {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px
}

@media (min-width:640px) {

    .grid-wpr .grid-one-third {
        float: left
    }

    .grid-wpr .grid-one-third {
        width: 33.33333%
    }
}

@media (min-width:769px) {
    .column-3 {
        float: left
    }
    .column-3 {
        width: 100%
    }
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto
}

html {
    font-size: 10px;
    font-size: 62.5%
}

@media (min-width:639px) and (max-width:1200px) {
    p {
        font-size: calc(1.6rem + (18 - 16) * ((100vw - 639px)/ (1200 - 639)))
    }
}

@media (min-width:1200px) {
    p {
        font-size: 1.8rem
    }
}


@media (min-width:639px) and (max-width:1200px) {
    p {
        line-height: calc(2.4rem + (27 - 24) * ((100vw - 639px)/ (1200 - 639)))
    }
}

@media (min-width:1200px) {
    p {
        line-height: 2.7rem
    }
}


@media (max-width:639px) {
    p {
        font-size: 1.6rem;
        line-height: 2.4rem
    }
}


.text-script {
    font-family: Georgia, Times, "Times New Roman", serif;
}


.bold,
.text-bold,
strong {
    font-weight: 500
}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    -webkit-overflow-scrolling: touch
}

section .section-inner {
    max-width: 1200px;
    padding: 15px;
    margin: 0 auto
}

header {
    display: block;
    width: 100%;
    background-color: #006ac3
}



@media (min-width:639px) and (max-width:1200px) {
    section .section-inner {
        padding-top: calc(30px + (60 - 30) * ((100vw - 639px)/ (1200 - 639)))
    }
}

@media (min-width:1200px) {
    section .section-inner {
        padding-top: 60px
    }
}

@media (min-width:639px) and (max-width:960px) {
    section .section-inner {
        padding-top: calc(30px + (60 - 30) * ((100vw - 639px)/ (960 - 639)))
    }
}

@media (min-width:960px) {
    section .section-inner {
        padding-top: 60px
    }
}

@media (min-width:639px) and (max-width:1200px) {
    section .section-inner {
        padding-bottom: calc(30px + (60 - 30) * ((100vw - 639px)/ (1200 - 639)))
    }
}

@media (min-width:1200px) {
    section .section-inner {
        padding-bottom: 60px
    }
}

@media (min-width:639px) and (max-width:960px) {
    section .section-inner {
        padding-bottom: calc(30px + (60 - 30) * ((100vw - 639px)/ (960 - 639)))
    }
}

@media (min-width:960px) {
    section .section-inner {
        padding-bottom: 60px
    }
}

section .section-inner {
    display: block;
    margin-top: 30px;
    margin-bottom: 30px
}

@media (min-width:639px) and (max-width:1200px) {
    section .section-inner {
        margin-top: calc(30px + (60 - 30) * ((100vw - 639px)/ (1200 - 639)))
    }
}

@media (min-width:1200px) {
    section .section-inner {
        margin-top: 60px
    }
}

@media (min-width:639px) and (max-width:960px) {
    section .section-inner {
        margin-top: calc(30px + (60 - 30) * ((100vw - 639px)/ (960 - 639)))
    }
}

@media (min-width:960px) {
    section .section-inner {
        margin-top: 60px
    }
}

@media (min-width:639px) and (max-width:1200px) {
    section .section-inner {
        margin-bottom: calc(30px + (60 - 30) * ((100vw - 639px)/ (1200 - 639)))
    }
}

@media (min-width:1200px) {
    section .section-inner {
        margin-bottom: 60px
    }
}

@media (min-width:639px) and (max-width:960px) {
    section .section-inner {
        margin-bottom: calc(30px + (60 - 30) * ((100vw - 639px)/ (960 - 639)))
    }
}

@media (min-width:960px) {
    section .section-inner {
        margin-bottom: 60px
    }
}

section .section-inner {
    margin-top: 0
}

section .section-inner {
    margin-bottom: 0
}

section:first-of-type .section-inner {
    padding-top: 15px
}

@media (min-width:639px) and (max-width:1200px) {
    section:first-of-type .section-inner {
        padding-top: calc(15px + (30 - 15) * ((100vw - 639px)/ (1200 - 639)))
    }
}

@media (min-width:1200px) {
    section:first-of-type .section-inner {
        padding-top: 30px
    }
}

@media (min-width:639px) and (max-width:960px) {
    section:first-of-type .section-inner {
        padding-top: calc(15px + (30 - 15) * ((100vw - 639px)/ (960 - 639)))
    }
}

@media (min-width:960px) {
    section:first-of-type .section-inner {
        padding-top: 30px
    }
}

section.section-black {
    background-color: rgba(48, 48, 48);
    color: #ffff;
    text-align: center;
}


















/*this is for the main section heading*/

.banner.html-bnr .section-inner {
    padding-top: 15px;
    padding-bottom: 0
}

@media (min-width:639px) and (max-width:1200px) {
    .banner.html-bnr .section-inner {
        padding-top: calc(15px + (30 - 15) * ((100vw - 639px)/ (1200 - 639)))
    }
}

@media (min-width:1200px) {
    .banner.html-bnr .section-inner {
        padding-top: 30px
    }
}

@media (min-width:639px) and (max-width:960px) {
    .banner.html-bnr .section-inner {
        padding-top: calc(15px + (30 - 15) * ((100vw - 639px)/ (960 - 639)))
    }
}

@media (min-width:960px) {
    .banner.html-bnr .section-inner {
        padding-top: 30px
    }
}

.banner.html-bnr .grid-wpr {
    border: 1px solid #c4c8cc;
    margin: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-grid-column-align: stretch;
    justify-items: stretch
}


.banner.html-bnr .grid-wpr {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    min-height: 140px;
    padding: 0;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 212px
}




.banner.html-bnr .grid-wpr {
    -webkit-flex: 1 auto !important;
    -ms-flex: 1 auto !important;
    flex: 1 auto !important;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    padding: 15px;
    vertical-align: middle;
    margin: 0;
    width: 0
}


@media (min-width:1200px) {
    .banner.html-bnr .grid-wpr {
        padding: 60px
    }
}


@media (max-width:639px) {
    .banner.html-bnr .grid-wpr .banner-text {
        display: block;
        width: 100%
    }
}



.grid-wpr {
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: -7.5px;
    margin-left: -7.5px;
    padding: 0
}

@media (min-width:639px) and (max-width:1200px) {
    .grid-wpr {
        margin-top: calc(15px + (30 - 15) * ((100vw - 639px)/ (1200 - 639)))
    }
}

/*full screen*/

@media (min-width:1200px) {
    .grid-wpr {
        margin-top: 30px
    }
}

@media (min-width:639px) and (max-width:1200px) {
    .grid-wpr {
        margin-bottom: calc(15px + (30 - 15) * ((100vw - 639px)/ (1200 - 639)))
    }
}

@media (min-width:1200px) {
    .grid-wpr {
        margin-bottom: 30px
    }
}

@media (min-width:639px) and (max-width:960px) {
    .grid-wpr {
        margin-bottom: calc(15px + (30 - 15) * ((100vw - 639px)/ (960 - 639)))
    }
}


@media (min-width:639px) and (max-width:1200px) {
    .grid-wpr {
        margin-right: calc(-7.5px + (-15 - -7.5) * ((100vw - 639px)/ (1200 - 639)))
    }
}

/* unknown margin for the 3 vr grid
@media (min-width:1200px) {
    .grid-wpr {
        margin-right: -15px
    }
}
*/

.eh-wpr {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.eh-wpr > [class*=grid-] {
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
    -webkit-flex: 1 0 auto;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto
}

@media (max-width:639px) {
    .eh-wpr {
        display: block
    }
}

.container:after,
.container:before,
.grid-wpr:after,
.grid-wpr:before,
.row:after,
.row:before {
    display: block;
    content: ""
}